* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292f34;
    
}

.header {
    width: 100%;
    height: 95vh;
    position: relative;
}

.header__vanta {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header__text-container {
    position: relative;
    padding-left: 5vw;
    padding-top: 17vh;
    color: #fff;
}

.header__title {
    margin-bottom: 0.5vw;
    font-size: 3vw;
}

.header__subtitle {
    font-size: 2vw;
}

.main {
    width: 100%;
    height: auto;
}

.intro {
    width: 100%;
    min-height: 40vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__container {
    width: 75%;
    height: 30vw;
    display: flex;
    padding: 0.5vw;
    box-shadow: 0vw 0.1vw 0.2vw 0vw #3c6af4,
            0.1vw 0.2vw 0.5vw 0vw #3c6af4,
            0.2vw 0.4vw 0.9vw 0vw #3c6af4;
    position: absolute;
    transform: translateY(-30%);
    background-color: #292f34;
}

.intro__image {
    width: 65%;
    height: 100%;
    overflow: hidden;
}

.intro__image > img {
    width: 100%;
    transform: translateY(-12%);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    
}

.intro__text {
    width: 35%;
    height: 100%;
    text-align: right;
    color: #fff;
    font-size: 1.3vw;
    margin: 0.5rem
}

.preface {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preface__container {
    width: 75%;
    height: 100%;
}

.preface__text {
    font-size: 1.3vw;
    color: #fff;
    text-align: center;
}

.link-cards {
    width: 100%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-cards__container {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 45%;
    height: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    position: relative;
    transition: 0.5s;
    box-shadow: 0vw 0.1vw 0.2vw 0vw #3c6af4;
}

.card:hover {
    box-shadow: 0vw 0.1vw 0.2vw 0vw #3c6af4,
            0.1vw 0.2vw 0.5vw 0vw #3c6af4,
            0.2vw 0.4vw 0.9vw 0vw #3c6af4,
            0.2vw 0.4vw 1.2vw 0vw #3c6af4,
            0.3vw 0.5vw 1.2vw 0vw #3c6af4;
}

.card-bgc {
    position: absolute;
    height: 100%;
    transform: translateX(-2%);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.card-blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.card__content {
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    z-index: 10;
    padding: 5%;
}

.card-title {
    z-index: 10;
    color: #fff;
    font-size: 2vw;
}

.card-subtitle {
    margin-top: 7%;
    z-index: 10;
    color: #fff;
    font-size: 1.5vw;
}

.card-button {
    margin-top: 14%;
    width: 50%;
    height: 2vw;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

.card:hover .card-button{
    background-color: #fff;
}

.card-button > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 1.1vw;
    transition: 0.5s;
    z-index: 100;
}

.footer {
    width: 100%;
    height: 25vw;
    background-color: #0f1214;
    margin-top: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer__container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__content > a {
    margin: 1vw;
    text-decoration: none;
    font-size: 1.1vw;
    color: #b6b6b6;
    transition: 0.3s;
}

.footer__content > a:hover {
    color: #98cafb;
}

.copyright {
    color: grey;
    margin-bottom: 2vw;
    width: 80%;
    font-size: 1.1vw;
}


